*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(217, 227, 224, 0.947);

}
button{
    width: 65vw;
    height: 30px;
    margin: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.274);
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    padding-top: 10px;
    

   
    
    border-radius: 5px;

}

#icon{
    
    margin-left: 98%;
    
    
    
    

}

