body {
    
    
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.choice {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.choice:hover {
    background-color: #3700b3;
}

.result p {
    font-size: 18px;
    margin: 5px 0;
}

.result span {
    font-weight: bold;
}
